{{#partial "css"}}
<link rel="stylesheet" href = "/css/trayectos.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
{{/partial}}
{{#partial "contenido" }}
<div class="container">
    <div class="d-flex justify-content-md-between align-items-center">
        <h2>Trayecto con destino a {{trayecto.empleado.organizacion.razonSocial}}</h1>
        <a class="btn btn-success " href="tramos/crear">Agregar tramo</a>
    </div>
    <h5 class="mt-2">Tramos</h5>
    <div class="justifiy-content-md-center">
        <table class="table">
            <tbody>
                {{#each tramos}}
                <tr>
                    <td>
                        <span class="material-symbols-outlined p-2 text-success" >location_on</span>
                        <strong class="p-2">Destino:  {{puntoDestino.calle}} {{puntoDestino.altura}} </strong>
                    </td>
                    <td>
                        <span class="d-inline material-symbols-outlined p-2 text-success">directions_bus</span>
                        <p class="d-inline p-2 mb-0">TIPO TRANSPORTE</p>
                    </td>
                    <td>
                        <a class="btn btn-outline-success" href="tramos/{{id}}/editar">Editar</a>
                        <a class="btn btn-outline-danger" onclick="confirmarEliminacion({{id}})">Eliminar tramo</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <!-- ================= MODAL ELIMINACION ================== -->
    <div class="modal" id="modalEliminar" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmar</h1>
                    <button type="button" class="btn-close" onclick="cerrarModal()" ></button>
                </div>
                <div class="modal-body">
                    <input id="tramoId" type="hidden" value="">
                    <p>¿Desea eliminar el tramo?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" name="button" class="btn btn-danger" onclick="eliminarTramo()">Eliminar</button>
                    <button type="button" name="button" class="btn btn-secondary" onclick="cerrarModal()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ================= FIN MODAL ELIMINACION ======asso============ -->

<script>
    function confirmarEliminacion(id){
        document.getElementById("tramoId").value = id;
        document.getElementById("modalEliminar").style.display = 'block';
    }

    function eliminarTramo(){
        var id = document.getElementById("tramoId").value;
        $.ajax({
            type: "DELETE",
            url: "tramos/"+id,
            success: function(result){
                location.reload(true);
            }
        });
    }

    function cerrarModal(){
        document.getElementsByClassName("modal")[0].style.display = 'none';
    }
</script>
</div>
{{/partial}}
{{> miembro/miembro.hbs }}