{{#partial "contenido" }}

<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
    Reportes
  </a>
  <a href="/miembro/{{idMiembro}}/reportes/reporte1" class="list-group-item list-group-item-action">Huella de carbono por sector territorial </a>
  <a href="/miembro/{{idMiembro}}/reportes/reporte2" class="list-group-item list-group-item-action">HC total por tipo de Organización </a>
  <a href="/miembro/{{idMiembro}}/reportes/reporte3" class="list-group-item list-group-item-action">Composición de HC total de un determinado sector territorial</a>
  <a href="/miembro/{{idMiembro}}/reportes/reporte4" class="list-group-item list-group-item-action">Composición de HC total a nivel país</a>
  <a href="/miembro/{{idMiembro}}/reportes/reporte5" class="list-group-item list-group-item-action">Composición de HC total de una determinada Organización</a>
  <a href="/miembro/{{idMiembro}}/reportes/reporte6" class="list-group-item list-group-item-action">Evolución de HC total de una determinada Organización</a>
  <a href="/miembro/{{idMiembro}}/reportes/reporte7" class="list-group-item list-group-item-action">Evolución de HC total de un determinado sector territorial</a>
</div>
{{/partial}}
{{>miembro/miembro.hbs }}